html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #dde2eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pokedex-container {
    height: 80%;
    width: 450px;
    border-radius: 24px;
    display: flex;
    position: relative;
}

#pokedexGeneralView {
    background-color: white;

    border-radius: 24px;
    padding: 32px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
}

.pokedex-general-head {
    display: flex;
    flex-direction: column;
    
}

.pokedex-general-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pokedex-general-title img {
    height: 24px;
    object-fit: cover;
    cursor: pointer;
}

.pokedex-general-search {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 12px;
}

.pokedex-general-search input {
    border-radius: 25px;
    border-color: #efefef;
    border-style: solid;
    font-size: 24px;
    max-width: 280px;
    padding: 8px;
    background-color: #efefef;
    outline: 0;
    padding-left: 24px;
}

.listimg {
    max-height: 64px;
    object-fit: cover;
    max-width: 64px;
    margin-right: 4px;
    margin-top: -4px;
}

#pokedexSingleView {
    background-color: #ff5f6e;
    color: white;
    display: none;
    padding: 24px;
    flex-direction: column;
    border-radius: 24px;
    border-radius: 24px;
}

#pokemonImg {
    height: 300px;
    width: 300px;
}

.info-container {
    background-color: white;
    border-radius: 24px;
    min-height: 100px;
    margin-top: -40px;
}

#pokedexGeneralList{
    display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    overflow: auto;
    position: absolute;
    bottom: 24px;
    right: 24px;
    left: 24px;
    top: 20%;
}

#pokedexGeneralList h3{
    margin-top: 4px;
    margin-bottom: 4px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}



.pokemonGeneral{
    width: 40%;
    border-style: none;
    margin: 4px;
    border-radius: 8px;
    cursor: pointer;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: black;
    color: white;
}

.listbottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 72px;


}

.sort{
    background-color: rgb(255,255,255, 0.2);
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px;

    margin: 4px;
}

.d-none {
    display: none;
}